.RegistrationForm {
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 150px;
		.cards {
			width: 413px;
			height: 431px;
			display: flex;
			justify-content: center;
			// align-items: center;
			border: 2px solid;
			border-radius: 1rem;
			width: 400px;
			padding: 40px;
			// transform: translate(-50%, -50%);
			background: rgba(0, 0, 0, 0.5);
			box-sizing: border-box;
			box-shadow: 0 15px 25px 10px rgba(0, 0, 0, 0.5);
			border-radius: 10px;
			.card {
				color: white;
				input {
					width: 100%;
					padding: 10px 0;
					font-size: 16px;
					color: #fff;
					margin-bottom: 30px;
					border: none;
					border-bottom: 1px solid #fff;
					outline: none;
					background: transparent;
				}
				h3 {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 0 30px;
					padding: 0;
					color: #fff;
					text-align: center;
				}
				button {
					position: relative;
					padding: 10px 20px;
					color: #03e9f4;
					font-size: 16px;
					text-decoration: none;
					text-transform: uppercase;
					overflow: hidden;
					transition: 0.5s;
					margin-top: 10px;
					letter-spacing: 4px;
					&:hover {
						background: #03e9f4;
						color: red;
						border-radius: 5px;
						box-shadow: 0 0 5px black, 0 0 25px black, 0 0 50px black,
							0 0 100px black;
					}
				}
			}
		}
	}
}
